<h1>Placed Orders</h1>

{% if placed_orders %}
  <ul>
    {% for placed_order in placed_orders %}
      <li>
        <p>Order ID: {{ placed_order.id }}</p>
        <p>Address: {{ placed_order.address }}</p>
        <p>City: {{ placed_order.city }}</p>
        <p>State: {{ placed_order.state }}</p>
        <p>Zipcode: {{ placed_order.zipcode }}</p>
        <p>Date Added: {{ placed_order.date_added }}</p>

        <h2>Order Items:</h2>
        <ul>
          {% for order_item in placed_order.order_items.all %}
            <li>
              <p>Product: {{ order_item.product.name }}</p>
              <p>Size: {{ order_item.size }}</p>
              <p>Quantity: {{ order_item.quantity }}</p>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No placed orders yet.</p>
{% endif %}