<!DOCTYPE html>
<html>
<head>
  <title>Placed Orders</title>
</head>
<body>
  <h1>Placed Orders</h1>

  <h3>
    {% if placed_orders %}
    {{ placed_orders.address}}
    {% endif %}
  </h3>  
 
  <ul>
    {% for placed_order in placed_orders %}
      <li>

        Customer: {{ placed_order.customer }}<br>
        Product: {{ placed_order.product }}<br>
        Quantity: {{ placed_order.quantity }}<br>
        Size: {{ placed_order.size }}<br>
  
      </li>
    {% endfor %}
  
  </ul>
</body>
</html>